
.backround{
	background-color: #6666ff
}
.p{
	font-size:50px;
}
.der{
	font-size: 100px;
	color:blue;
}
.b{
	font-size: 75px
}

.cor{
	font-size: 25px
}

#agent{
	
	font-size: 75px;color:red;

}

.footer{
	font-size: 100px;
	color:#00004d;
	background-color: red;
	
	margin-down:30px;
	
}

.in{

	font-size: 50px;

	color:red;
}
